*{
margin:0;
padding:0;
box-sizing:border-box;
}
 
body{
background:#090909;
}
 
.container{
max-width:850px;
margin:40px auto;
padding:40px;
 
background:#151515;
 
border-radius:25px;
 
box-shadow:
0 0 30px rgba(255,0,0,.15);
}
`
 
.logo{
width:220px;
margin-bottom:25px;
}
 
.hero{
width:100%;
max-width:700px;
 
border-radius:25px;
 
margin:40px auto;
 
box-shadow:
0 0 40px rgba(255,0,0,.3);
}
 
h1{
font-size:56px;
color:white;
letter-spacing:4px;
}
 
.subtitle{
color:#cccccc;
font-size:20px;
margin-bottom:30px;
}
 
.text{
color:#d6d6d6;
line-height:1.8;
margin-bottom:40px;
}
 
.einsatz{
background:#181818;
border:1px solid #2e2e2e;
border-radius:18px;
padding:20px;
margin:30px auto;
max-width:500px;
line-height:2;
}
 
.button{
background:
linear-gradient(90deg,
#7a0000,
#b80000,
#ff0000);
 
border-radius:18px;
 
padding:20px;
 
font-size:20px;
}
 
text-decoration:none;
color:white;
 
background:linear-gradient(
90deg,
#7d0000,
#c40000,
#ff0000
);
 
border-radius:15px;
font-weight:bold;
font-size:18px;
}
 
.button:hover{
transform:translateY(-2px);
}
 
.footer{
margin-top:50px;
padding-top:25px;
border-top:1px solid #2c2c2c;
color:#8c8c8c;
line-height:1.8;
}
